li{list-style-type:none;display: inline-block;}
a{color: red;text-decoration: rgba(255, 0, 0, 0.747);background-color:black;padding:10px;}
body{background:url(don.jpg) ;background-size: 200% ;}
img{ height: 400px;width :500px;border-radius:10px;}
#p{color:rgba(255, 0, 0, 0.884);}


